<div>
  <div >
    <div style="overflow-y: scroll; height: 300px">
      <div *ngFor="let msg of messages">
        <span>
        <textarea autosize readonly [ngClass]="msg.from_id == user_id ? 'own' : 'partner'">{{msg.message}}</textarea>
        </span>
        <br>
        <br>
      </div>
    </div>
    <div>
      <br>
      <textarea class="msgText" [(ngModel)]="newText" [rows]="5" [cols]="60" pInputTextarea autoResize="autoResize"></textarea>
      <br>
      <br>
      <p-button label="Küldés" (onClick)="sendMessage()"></p-button>
    </div>
  </div>
</div>
