textarea {
  resize: none;


}

span{
  display: block;
}

textarea.own {
  float: right;
  background-color: dodgerblue;
  color: white;
}

textarea.partner {
  float: left;
  background-color: #d9d9d9;
  color: black;
}

textarea.msgText{
  vertical-align: bottom;
}
