<div class="ui-g-12">
  <div class="ui-g-12 ui-md-11">
    <div class="ui-g">
      <div class="ui-g-2 ui-sm-6">Név: </div>
      <div class="ui-g-10 ui-sm-6"><b>{{child.name}}</b></div>

      <div class="ui-g-2 ui-sm-6">Parent: </div>
      <div class="ui-g-10 ui-sm-6"><b>{{child.parentId}}</b></div>

      <div class="ui-g-2 ui-sm-6">Csoport: </div>
      <div class="ui-g-10 ui-sm-6"><b>{{child.groupId}}</b></div>

      <div class="ui-g-2 ui-sm-6">Jel: </div>
      <div class="ui-g-10 ui-sm-6"><b>{{child.sign}}</b></div>
    </div>
  </div>
  <button (click)="finish()">Agree</button>
</div>
