
  <p-dataView #dv [value]="children" filterBy="name"  [style]="{width: '1200px'}" ngClass="dataview">
    <p-header>
      <input type="search" pInputText placeholder="Keresés" (keyup)="dv.filter($event.target.value)">
    </p-header>

    //ezt kéne egy scrollPanel-be tenni

      <ng-template let-child pTemplate="listItem">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-11">
            <div class="ui-g">
              <div class="ui-g-2 ui-sm-6">Név: </div>
              <div class="ui-g-10 ui-sm-6"><b>{{child.name}}</b></div>

              <div class="ui-g-2 ui-sm-6">Parent: </div>
              <div class="ui-g-10 ui-sm-6"><b>{{child.parent_id}}</b></div>

              <div class="ui-g-2 ui-sm-6">Csoport: </div>
              <div class="ui-g-10 ui-sm-6"><b>{{child.group_id}}</b></div>

              <div class="ui-g-2 ui-sm-6">Jel: </div>
              <div class="ui-g-10 ui-sm-6"><b>{{child.sign}}</b></div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-1">
            <p-checkbox name="groupname" value= {{child.id}} [(ngModel)]="selected_children"></p-checkbox>
          </div>
        </div>
      </ng-template>


    <p-footer>
      <p-button label="Ok" (onClick)="okOnClick()"></p-button>
    </p-footer>
  </p-dataView>



