<!--<div *ngIf="showNew">
  <br>

  <div>
    <p-editor [(ngModel)]="newText" [style]="{'height':'320px'}"></p-editor>
  </div>

  <br>

  <p-button label="Mégse" (onClick) = "cancel()"></p-button>
  <p-button style="float: right" label="Küldés" (onClick) = "sendNewA()"></p-button>

  <p-messages [(value)]="msgs"></p-messages>

</div>-->

<!--<p-button *ngIf="!showNew" label="Új Felhívás" (onClick) = "show()"></p-button>-->



<div>
  <br>
  <p-accordion class="ui-g" [multiple]="true" *ngFor="let alert of alerts">
    <p-accordionTab class="element ui-g-10" header={{alert.dueDate}}>
      <div [innerHTML]="alert.message"></div>
    </p-accordionTab>
    <p-button class="ui-g-2" label="Törlés" (onClick) = "deleteAlertById(alert.id)"></p-button>
  </p-accordion>
</div>
