<div>
  <p-dialog [(visible)]="displayPotentialTeachers" ngClass="dialogContent">
    <app-select-teachers [group_id]="group_id" (finish)="onFinish($event)"></app-select-teachers>
  </p-dialog>

  <p-button label="Hozzáadás" (onClick)="setdisplayPotentialTeachers()"></p-button>

  <p-table [columns]="cols" [value]="teachers" [scrollable]="true" scrollHeight="400px">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th style="width:4em"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-teacher>
      <tr>
        <td *ngFor="let col of cols">
          {{teacher[col.field]}}
        </td>
        <td style="width:4em">
          <button pButton (click)="removeTeacherFromGroup(teacher.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  </div>
