
<div *ngIf="isLoggedIn()" class="p-grid">
  <div class="p-col-2">
    <p-menu [model]="mainMenu"></p-menu>
    <br>
    <br>
    <p-button (click)="loguot()" label="Kijelentkezés"></p-button>
  </div>
  <div class="p-col-10"> <router-outlet></router-outlet></div>
</div>
