<div>
<p-dropdown *ngIf="load" [options]="simple_partners" optionLabel="name" [(ngModel)]="selected_partner"></p-dropdown>
<br>
<textarea [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="msg_text" autoResize="autoResize"></textarea>
<br>
<p-button label="Küldés" (onClick)="sendMessage($event)"></p-button>
</div>
