<div class="p-col-10">
  <p-tabMenu [model]="tabMenu"></p-tabMenu>
  <br>
  <router-outlet></router-outlet>

<!--  <div [ngSwitch]="state">
    <div *ngSwitchCase="0" class="p-col">
      <app-admin-groups></app-admin-groups>
    </div>
    <div *ngSwitchCase="1" class="p-col">
      <app-admin-children></app-admin-children>
    </div>
    <div *ngSwitchCase="3" class="p-col">
      <app-admin-teachers></app-admin-teachers>
    </div>
    <div *ngSwitchDefault></div>
  </div>-->

</div>
