<div>
  <p-dialog header="Regisztráció" *ngIf="display_register" [(visible)]="display_register">
  <app-register *ngIf="display_register" (finish)="finishRegister()"></app-register>
  </p-dialog>
</div>

<div class="login">
  <br>
  <span class="ui-float-label">
    <input id="email-input" type="email" size="30" pInputText [(ngModel)]="name">
    <label for="email-input">E-mail cím</label>
  </span>
  <br>
  <span class="ui-float-label">
    <input id="pass-input" type="password" size="30" pInputText [(ngModel)]="pass">
    <label for="pass-input">Jelszó</label>
  </span>
  <br>
  <p-button style="margin-right: 10px" label="OK" (onClick)="login()"></p-button>
  <p-button style="float: right" label="Regisztráció" (onClick)="displayRegister()"></p-button>
</div>




