<div class="p-grid">
  <div class="p-col-2">
    <p-dropdown [options]="groups" optionLabel="name" [(ngModel)]="selectedGroup" (onChange)="onClickTM()"></p-dropdown>
    <br>
    <br>
    <p-button label="Új csoport" (onClick)="onClickNewGroup()"></p-button>
    <br>
    <br>
    <p-button label="Csoport törlése" (onClick)="onClickDeleteGroup()"></p-button>

    <p-dialog header="Új Csoport" [(visible)]="displayNewGroup" [width]="600">

      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText [(ngModel)]="new_group_name">
        <label for="float-input">Csoportnév</label>
      </span>

      <p-footer>
        <p-button type="button" (click)="cancelNewGroup()" label="Mégse" ></p-button>
        <p-button type="button" (click)="createNewGroup()" label="Küldés"></p-button>
      </p-footer>
    </p-dialog>

  </div>

  <div class="p-col-10">
    <p-tabMenu [model]="tabMenu"></p-tabMenu>
    <br>
    <router-outlet *ngIf="selectedGroup.id !== -1"></router-outlet>
  </div>
</div>
