<div *ngIf="load">
  <span>{{current.role}}</span>
  <br>
  <br>
  <span>Név:</span>
  <br>
  <input type="text" pInputText [(ngModel)]="current.name"/>
  <br>
  <br>
  <span>Telefonszám:</span>
  <br>
  <input type="text" pInputText [(ngModel)]="current.phone"/>
  <br>
  <br>
  <span>Email cím::</span>
  <br>
  <input type="text" pInputText [(ngModel)]="current.email"/>
  <br>
  <br>
  <span>Cím:</span>
  <br>
  <span>Város:</span>
  <br>
  <input type="text" pInputText [(ngModel)]="current.address.town"/>
  <br>
  <span>Utca:</span>
  <br>
  <input type="text" pInputText [(ngModel)]="current.address.street"/>
  <br>
  <span>Házzám:</span>
  <br>
  <input type="text" pInputText [(ngModel)]="current.address.zip"/>
  <br>
  <p-button label="Változtat" (onClick)="saveChanges()"></p-button>
  <br>
  <br>
  <span>Régi jelszó</span>
  <br>
  <br>
  <input type="password" pInputText [(ngModel)]="pass0" />
  <br>
  <br>
  <span>Új jelszó</span>
  <br>
  <br>
  <input type="password" pInputText [(ngModel)]="pass1"/>
  <br>
  <br>
  <input type="password" pInputText [(ngModel)]="pass2"/>
  <br>

  <p-button label="Változtat" (onClick)="setPass()"></p-button>
</div>
