<div class="p-grid">
  <div class="p-col-2">
    <p-dropdown [options]="groups_name" optionLabel="name" [(ngModel)]="selectedGroup" (onChange)="onClickTM()"></p-dropdown>
  </div>

  <div class="p-col-10">
    <p-tabMenu [model]="tabMenu"></p-tabMenu>
    <br>
    <router-outlet></router-outlet>

    <!--<div [ngSwitch]="state">
      <div *ngSwitchCase="0" class="p-col">
        <app-members [group_id]="selectedGroup"></app-members>
      </div>
      <div *ngSwitchCase="1" class="p-col">
        <app-message-board [group_id]="selectedGroup"></app-message-board>
      </div>
      <div *ngSwitchCase="2" class="p-col">
        <app-announcements [group_id]="selectedGroup"></app-announcements>
      </div>
      <div *ngSwitchCase="3" class="p-col">
        <app-shared-documents [group_id]="selectedGroup"></app-shared-documents>
      </div>
      <div *ngSwitchDefault></div>
    </div>-->

  </div>
</div>
