<div>
  <p-dialog [(visible)]="displayChildrenEdit" ngClass="dialogContent">
    <app-select-children [group_id]="group_id" (finish)="onFinish($event)"></app-select-children>
  </p-dialog>

  <p-dialog [(visible)]="displayChildEdit" ngClass="dialogContent">
    <app-edit-child [child_id]="selected_child_id" (finished)="childEdited($event)"></app-edit-child>
  </p-dialog>


  <p-button label="Hozzáadás" (onClick)="setDisplayChildrenEdit()"></p-button>
  <div>
    <p-table [value]="children" [scrollable]="true" scrollHeight="400px">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
          <th style="width:4em"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-child>
        <tr>
          <td *ngFor="let col of cols">
            {{child[col.field]}}
          </td>
          <td style="width:4em">
            <button pButton (click)="removeChildFromGroup(child)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
