<div>
  <br>
  <span class="ui-float-label">
    <input id="email-input" type="email" pInputText [(ngModel)]="username">
    <label for="email-input">E-mail cím</label>
  </span>
  <br>
  <span class="ui-float-label">
    <input id="pass-input0" type="password" pInputText [(ngModel)]="pass0">
    <label for="pass-input0">Jelszó</label>
  </span>
  <br>
  <br>
  <span class="ui-float-label">
    <input id="pass-input1" type="password" pInputText [(ngModel)]="pass1">
    <label for="pass-input1">Jelszó</label>
  </span>
  <br>
  <p-button style="margin-right: 10px" label="Regisztrálok" (onClick)="register()"></p-button>
  <p-button style="float: right" label="Vissza" (onClick)="cancel()"></p-button>
</div>
