<p-table #dt [columns]="cols" [value]="users" [scrollable]="true" scrollHeight="600px">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
      <th style="width:4em"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td style="width:4em">
        <button pButton (click)="editUser(rowData)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog  header="Title" [(visible)]="display_editor" height="600px">
  <app-user-edit *ngIf="display_editor" [user]="selected_user.id" (finish)="editFinish($event)"></app-user-edit>
</p-dialog>
