
<div>
  <h3>Csoport:</h3>
<p-dropdown *ngIf="isLoaded()" [options]="simple_groups" [(ngModel)]="selected_group" optionLabel="name"></p-dropdown>
  <br>
  <br>
  <h3>Szülő:</h3>
  <p-dropdown *ngIf="isLoaded()" [options]="simple_parents" [(ngModel)]="selected_parent" optionLabel="name"></p-dropdown>
  <br>
  <br>
  <br>
  <br>


  <span class="ui-float-label">
    <input id="float-input-name" type="text" size="30" pInputText [(ngModel)]="child_tmp.name">
    <label for="float-input-name">Név</label>
</span>
  <br>
  <br>
  <span class="ui-float-label">
    <input id="float-input-sign" type="text" size="30" pInputText [(ngModel)]="child_tmp.sign">
    <label for="float-input-sign">Jel</label>
</span>
  <br>
  <br>
  <p-button label="Mentés" (onClick)="updateChild($event)"></p-button>
  <p-button label="Törlés" (onClick)="deleteChild($event)"></p-button>

</div>
