.dateLabel {
  display: block;
  font-size: 11px;
}

.senderLabel {
  display: block;
  font-weight: bold;
}

.messageBoard{
  -webkit-box-shadow: 5px 5px 32px -4px rgba(0,0,0,0.67);
  -moz-box-shadow: 5px 5px 32px -4px rgba(0,0,0,0.67);
  box-shadow: 5px 5px 32px -4px rgba(0,0,0,0.67);
  padding: 15px;
}

p-button {
  margin-top: 10px;
}

p-scrollPanel p {
  margin-bottom: 20px;
  text-align: justify;
}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
}
