<div class="messageBoard">
<p-scrollPanel [style]="{width: '100%', height: '400px'}" class="messageBoardPanel" id="shitpanel">
  <p *ngFor="let mes of messages">
    <label class="dateLabel">{{mes.date}}</label>
    <label class="senderLabel">{{mes.poster}}</label>
    {{mes.message}}
  </p>
</p-scrollPanel>



  <p-dialog header="Új üzenet" [(visible)]="displayNew" [width]="600">

    <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="newPostText"></textarea>

    <p-footer>
      <p-button type="button" (click)="cancelNewM()" label="Mégse" ></p-button>
      <p-button type="button" (click)="sendNewM()" label="Küldés"></p-button>
    </p-footer>
  </p-dialog>

  <p-button type="text" *ngIf="role === 1"  (click)="displayNewMessage()" label="Új üzenet"></p-button>

</div>
