<p-dataView #dv [value]="teachers" filterBy="name"  [style]="{width: '1200px'}" ngClass="dataview">
  <p-header>
    <input type="search" pInputText placeholder="Keresés" (keyup)="dv.filter($event.target.value)">
  </p-header>



  //ezt kéne egy scrollPanel-be tenni

  <ng-template let-teacher pTemplate="listItem">
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-11">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Név: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{teacher.name}}</b></div>

          <div class="ui-g-2 ui-sm-6">Email: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{teacher.email}}</b></div>

          <div class="ui-g-2 ui-sm-6">Csoport: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{teacher.group_id}}</b></div>

          <div class="ui-g-2 ui-sm-6">Cím: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{teacher.address.zip +' '+ teacher.address.town +' '+ teacher.address.street}}</b></div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-1">
        <p-checkbox name="groupname" value= {{teacher.id}} [(ngModel)]="selected_teachers"></p-checkbox>
      </div>
    </div>
  </ng-template>


  <p-footer>
    <p-button label="Ok" (onClick)="okOnClick()"></p-button>
  </p-footer>
</p-dataView>
