<p-table #dt [columns]="cols" [value]="children">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <p-button label="Új gyerek" (onClick)="newChild()"></p-button>
      <!--<p-dropdown [options]="group_filter" [style]="{'width':'200px'}" (onChange)="parentFilter($event)"></p-dropdown>
      <p-dropdown [options]="parent_filter" [style]="{'width':'200px'}" (onChange)="dt.filter(parentFilter($event))"></p-dropdown>-->
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
      <th style="width:4em"></th>
    </tr>

  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td style="width:4em">
        <button pButton (click)="editChild(rowData)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog  header="Title" [(visible)]="display_editor" height="600px">
  <app-child-editor *ngIf="display_editor" [child]="selected_child" (finish)="editFinish($event)"></app-child-editor>
</p-dialog>

<p-dialog  header="Title" [(visible)]="display_creator" height="600px">
  <app-new-child *ngIf="display_creator" (finish)="editFinish($event)"></app-new-child>
</p-dialog>
