<div>
    <div>
  <p-table [value]="children">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-child>
      <tr>
        <td *ngFor="let col of cols">
          {{child[col?.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  </div>
</div>
