
<div *ngIf="isLoaded()">


  <h3>Csoport:</h3>
  <p-dropdown [options]="roles" [(ngModel)]="current_role" optionLabel="name"></p-dropdown>
  <br>
  <br>


  <span class="ui-float-label">
    <input id="float-input-name" type="text" size="30" pInputText [(ngModel)]="user_tmp.name">
    <label for="float-input-name">Név</label>
  </span>
  <br>
  <br>
  <span class="ui-float-label">
    <input id="float-input-email" type="text" size="30" pInputText [(ngModel)]="user_tmp.email">
    <label for="float-input-email">Email</label>
  </span>
  <br>
  <br>
  <span class="ui-float-label">
    <input id="float-input-phone" type="text" size="30" pInputText [(ngModel)]="user_tmp.phone">
    <label for="float-input-name">Telefon</label>
  </span>
  <br>
  <br>
  <span class="ui-float-label">
    <input id="float-input-zip" type="text" size="30" pInputText [(ngModel)]="user_tmp.address.zip">
    <label for="float-input-zip">Irányító sz.</label>
  </span>
  <br>
  <span class="ui-float-label">
    <input id="float-input-street" type="text" size="30" pInputText [(ngModel)]="user_tmp.address.street">
    <label for="float-input-street">Utca</label>
  </span>
  <br>
  <span class="ui-float-label">
    <input id="float-input-town" type="text" size="30" pInputText [(ngModel)]="user_tmp.address.town">
    <label for="float-input-town">Település</label>
  </span>

  <br>
  <br>
  <p-button label="Mentés" (onClick)="updateUser($event)"></p-button>
  <p-button label="Törlés" (onClick)="deleteUser($event)"></p-button>

</div>
