<div *ngIf="showNew">
  <p-dialog header="Új felhívás" [(visible)]="showNew" [width]="600">

    <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="newText"></textarea>

    <p-footer>
      <p-button type="button" (click)="cancel()" label="Mégse" ></p-button>
      <p-button type="button" (click)="sendNewA()" label="Küldés"></p-button>
    </p-footer>
  </p-dialog>

  <p-messages [(value)]="msgs"></p-messages>

</div>

<p-button *ngIf="role === 1"  label="Új Felhívás" (onClick) = "show()"></p-button>



<div>
  <br>
<p-accordion [multiple]="true" *ngFor="let alert of alerts">
  <p-accordionTab class="element" header={{alert.dueDate}}>
    <div>{{alert.message}}</div>
  </p-accordionTab>
</p-accordion>
</div>
