<p-dialog [header] = "partner.name" [(visible)]="display" [width]="600" [height]="400">
  <app-chat *ngIf="partner.id !== -1 && display" [partner_id]="partner.id"></app-chat>
</p-dialog>

<div>
  <p-dialog *ngIf="display_new_msg" header="Üzenet Küldés" [(visible)]="display_new_msg">
    <app-new-partner *ngIf="display_new_msg"></app-new-partner>
  </p-dialog>
</div>
<p-dataView #dv [value]="partners" filterBy="name">
  <p-header>
    <input type="search" pInputText placeholder="Keresés" (keyup)="dv.filter($event.target.value)">
    <p-button label="Új üzenet" (onClick)="newMessagePartner()"></p-button>
  </p-header>
  <ng-template let-partner pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-md-3" style="text-align:center">
        <!--<img src="assets/showcase/images/demo/car/{{car.brand}}.png">-->
      </div>
      <div class="ui-md-8">
          <div><b>{{partner.name}}</b></div>
      </div>
      <div class="ui-md-1">
        <button pButton type="button" (click)="openMessage(partner.id, partner.name)"></button>
      </div>
    </div>
  </ng-template>

</p-dataView>

